version: '3.8'

networks:
  fis-network:
    driver: bridge

services:
  auth:
    build: ./auth
    container_name: fis-auth
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: 8080
      DATABASE_URL: jdbc:postgresql://ep-polished-cherry-ah1a56yk-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channelBinding=require
      DATABASE_USERNAME: neondb_owner
      DATABASE_PASSWORD: npg_DIVZBu65hQzb
      SECRET_KEY: tu_clave_secreta_aqui
    networks:
      - fis-network

  usuario:
    build: ./usuario
    container_name: fis-usuario
    ports:
      - "8093:8093"
    environment:
      SERVER_PORT: 8093
      DATABASE_URL: jdbc:postgresql://ep-polished-cherry-ah1a56yk-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channelBinding=require
      DATABASE_USERNAME: neondb_owner
      DATABASE_PASSWORD: npg_DIVZBu65hQzb
      SECRET_KEY: tu_clave_secreta_aqui
    networks:
      - fis-network

  nginx:
    image: nginx:alpine
    container_name: fis-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth
      - usuario
    networks:
      - fis-network