version: '3.8'

networks:
  fis-network:
    driver: bridge

services:
  auth:
    build: ./auth
    container_name: fis-auth
    ports:
      - "8080:8080"
    networks:
      - fis-network

  
  usuario:
    build: ./usuario
    container_name: fis-usuario
    ports:
      - "8093:8093"
    networks:
      - fis-network
  nginx:
    image: nginx:alpine
    container_name: fis-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth
      - usuario
    networks:
      - fis-network
