version: '3.8'

networks:
  fis-network:
    driver: bridge

services:
  postgres:
    image: postgres:15
    container_name: fis-postgres
    environment:
      POSTGRES_DB: fis
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    networks:
      - fis-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth:
    build: ./auth
    container_name: fis-auth
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/fis
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
    depends_on:
      - postgres
    networks:
      - fis-network

  usuario:
    build: ./usuario
    container_name: fis-usuario
    ports:
      - "8093:8093"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/fis
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
    depends_on:
      - postgres
    networks:
      - fis-network

  nginx:
    image: nginx:alpine
    container_name: fis-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth
      - usuario
    networks:
      - fis-network

volumes:
  postgres_data: